body{
    margin: 0;
    padding: 0;
    background-color: black;
}
a{
    text-decoration: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
header{
    padding: 20px 16px;
}
header .logo{
    font-family: 'Arial Black';
    font-size: 24px;
}
.logo {
    span:nth-child(1){
        color: #e6686a;
        margin-right: 4px;
    }
    span:nth-child(2){
        color: #9a9da2;
    }
}
header>nav{
    float: right;
}
nav>ul>li{
    float: left;
    margin: 0 17px;
    font-weight: bold;
    a{
        color: #b7b7b7;
        font-size: 12px;
        padding: 5px 0;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
    }
    &:hover a{
        border-bottom: 3px solid #e06567;
    }
}