<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">


        <input type="text" v-model="val" @keyup="add">
        <ul>
            <!-- 为什么前面写了index后面才能用呢 -->
            <li v-for="(a,index) in arr">{{a}} <button @click="remove(index)">delete</button></li>
        </ul>
    </div>

    <script src="https://cdn.bootcss.com/vue/2.5.21/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            methods: {
                add: function (e) {
                    if (e.keyCode === 13) {
                        this.arr.push(this.val);
                        this.val = '';
                    }
                },
                remove: function (e) {
                    this.arr = this.arr.filter((item, index) => index !== e)
                },
            },
            data: {
                arr: [],
                val: '',
            }
        })
    </script>
</body>

</html>