/*
* @Author: admin
* @Date:   2017-05-22 13:52:47
* @Last Modified by:   wutuobang
* @Last Modified time: 2017-06-02 15:10:13
*/

img{ display: block; width:100%; }
body,html{ color:#656261; -webkit-overflow-scrolling : touch;}
.content .title{ text-align: center; }
.content .title h2{ display: inline-block;  font-size: .82rem; margin:2% 1% 2%; color:#f42750;}
.content .title span{ width:10%; display: inline-block;  }
.con01{ width:100%; padding: 0 4%;}
.con01 .tu{ width:90%; border:8px solid #ffbbc8;  border-left-width:13px; border-right-width:13px; margin:0 auto;}
.con01 p{ text-align:center; font-size: .7rem; width:90%; margin:5% auto; line-height: 1.2rem;}
.con01 p b{ color:#f42750; }

.con02 ul{ text-align: center; padding: 0 4%; }
.con02 ul li{  width:47%; display: inline-block; background: #f6f6f6; margin:2% 1%;}
.con02 ul li span{ display: inline-block; padding:5% 4% 2%; border-bottom: 2px solid #ff7b99; font-size: 0.75rem; font-weight: bold;}
.con02 ul li p{ font-size: .68rem; padding: 0 3%; }
.content .btn{ width:80%; padding: 2% 0; text-align: center; color:#fff; background: #ff3250; border-radius: 5px; font-size: .7rem; margin:3% auto;}

.con03 .tx{ width: 28%; margin:0 auto; margin-top: 6%;}
.con03 span{ width:8%; display: block; margin:0 auto; margin-top: 5%; margin-bottom: -1px; }
.con03 p{ width: 90%; margin:0 auto; border:1px solid #ffaaba; font-size: .65rem; padding: 2% 3%; margin-bottom: 5%; line-height: 1.1rem;}

.con04 .tt{ text-align: center; }
.con04 .tt span{ display: inline-block; border-bottom: 1px solid #ff4e66; color:#ff4e66;  text-align: center; margin:0 auto; font-size: .72rem; font-weight: bold;}
.con04 .tt p{ font-size: .7rem; width:90%; margin:3% auto; color:#656261; line-height: 1.1rem;}

.con04 ul.one{ text-align: center; padding: 0 3%;}
.con04 ul.one li{ display: inline-block; width:47%; position: relative;margin:0 1%;}
.con04 ul.one p{ border:1px solid #fea2b4; padding: 8% 4%; font-size: .62rem; line-height: 1.1rem;}
.con04 ul.one span{ color:#f94265; font-size: .75rem; position: absolute; top:0;  left:25%; background: #fff;}
.con04 ul.one .yy{ position: absolute; bottom: 0;left:50%; background: #ff324b; color:#fff; font-size: .7rem; width:45%; padding: 2% 0; margin-left: -22.5%;}
.con04 ul.two li{width:90%; margin:2% auto;}
.con05-in{ width:94%; margin:0 auto;border:1px dashed #ff3250; border-radius: 5px; position: relative; padding: 5% 0; margin-top: 15%; margin-bottom: 8%;}
.con05-in ul{ overflow: hidden; position: absolute; top:-32%;margin:0; }
.con05-in ul li{ width:33%; float:left; }
.con05-in ul li img{ width:75%; margin:0 auto; }
.con05-in ul li span{ text-align: center; font-size: .8rem; display: block;margin:5% 0;}
.con05-in h4{ text-align: center; color:#ff3250; font-size: .85rem; margin-top: 18%; margin-bottom: 6%;}
.con05-in .btn{ position: absolute; bottom:-19%; left:50%; margin-left: -40%; }

.con06{ margin:5%;}
.con06 ul{ margin-top: 3%; border:1px solid #fe7d93;}
.con06 ul li{ overflow: hidden; padding:0 3%; box-sizing: border-box; border-bottom: 1px dashed #f79bb3; }
.con06 ul li .tx{ float:left; width:50px; height: 50px; overflow: hidden; border:1px solid #ff4d63; margin-right: 2%; margin-top: 4%; border-radius: 50%;}
.con06 ul li .tx img{ width:100%; margin:0 auto; }
.con06 ul li p{ float:left; width:78%; font-size: .6rem; color:#4d4d4d; line-height: 1rem; border:1px solid #d7d4d8; padding: 2%; position: relative; margin-left: 3%;}
.con06 ul li p i{ display: inline-block;  width:6%; margin-top: 1%;}
.con06 ul li p b{ font-weight: normal; }
.con06 ul li p .sj{ width: 4%; position: absolute; left: -4%;  top: 30%; border:0;}
.con06 ul li.nobd{ border:0; }
.con07 .tu{ width:80%; margin:0 auto; }
.con07 p{ width:80%; margin:0 auto; border:1px solid #fc8fa6; font-size: .7rem; padding: 2%; line-height: 1.1rem;}
.con07 p span{text-indent: 2rem; display: block; margin-bottom:2%;}
.con07 ul{ text-align: center; width:90%; margin:5% auto;}
.con07 ul li{ width:30%; display: inline-block; }
.con07 ul li .litu{ width:60%; margin:0 auto; padding: 1%; }
.con07 ul li span{ font-size: .7rem; margin:5% 0; display: block;}

.submit{margin:0 auto;  margin-top: 2%;  padding: 0 3%; box-sizing: border-box; width:100%;  background: #fff; padding-bottom: 5%; width:90%; }
.submit .submit-title{ overflow: hidden; }
.submit .submit-title span{ width:10%; float:left; margin-right: 2%; }
.submit .submit-title p{ float:left; font-size: .8rem;  line-height: 1rem; margin:2% 0; padding-left: 2%;}

.submit .submit-question .submit-question-option div{ display: block; vertical-align: middle; font-size: .7rem; margin:4% 0; margin-left: 3%; line-height: 1.2rem;}

.submit .submit-question .submit-question-option div:before{content: ''; display: inline-block; vertical-align: middle; width: .8rem; height: .8rem;  margin-right: 0.5rem; background: url(../images/weixuan.png) no-repeat; background-size: 100%;}
.submit .submit-question .submit-question-option div.active:before{background: url(../images/xuanzhong.png) no-repeat; background-size: 100%;}

.submit .submit-info .submit-info-scroll input{
	display: block;
    width: 90%;
    border: 1px solid #999;
    padding: 0 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: 0.7rem;
    color: #999999;
    margin-bottom: 0.75rem;
    outline: none;
	margin:0 auto;
	border-radius: 5px;
	margin-bottom: 5%;
}
.submit .submit-info .submit-info-scroll span{ font-size: .7rem; display: inline-block;}
.submit .submit-info .submit-btn{ width:95%; height: 35px; line-height: 35px; text-align: center; margin:0 auto; background: #ff3259; color:#fff; border-radius: 5px; font-size: .7rem; margin-top: 3%;}
.submit-question{margin-bottom: 8%;}
.submit-gender div{ display: inline-block;  margin:5% 0; margin-left: 5%; font-size: .65rem; color:#9a9899;}
.submit-gender div:before{
	content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1.2rem;
    height: 1.2rem;
    
    border-radius: 50%;
    margin-right: 0.5rem;
    
    }
    .submit-gender div.mn:before{	
    background: url(../images/nv1.png) no-repeat;
    background-size: 100%;
    
    }
    .submit-gender div.sg:before{	
    background: url(../images/nan1.png) no-repeat;
    background-size: 100%;
    
    }
    .submit-gender div.active{     color:#ea2867; }
.submit-gender div.sg.active:before{
	background: url(../images/nan2.png) no-repeat;
    background-size: 100%;
}
.submit-gender div.mn.active:before{
	background: url(../images/nv2.png) no-repeat;
    background-size: 100%;
}

.tc{ width:100%; height: 100%;background: rgba(0,0,0,0.5); position: fixed; z-index:99;left:0; top:0; display: none;}
.tc-submit{ width:90%; margin: auto; margin-top: 30%; position: relative; padding-top: 8%;}
.tc .submit-info{ background: #fff6ff; width:88%; margin:0 auto;padding-bottom: 5%; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; padding-top: 10%;}
.tc-submit .submit-info input{width: 90%; display: block; margin:0 auto; background: #eeeeee; border:1px solid #dfdfe0; border-radius: 5px; color:#b8b8b8; padding: 3% 0; font-size: .65rem; padding-left: 2%;}
.tc .tc-submit p{text-align: center; font-size: .65rem; margin-top: 6%; margin-bottom: 1%;}
.tc .tc-submit .submit-btn{ width:90%; height: 35px; line-height: 35px; text-align: center; margin:1% auto 3%;  color:#fff; border-radius: 5px; font-size: .7rem; background: #ff4f75; }
.tc .tc-tt{ position: absolute; top:0; left:0; width:100%;}
.tc .tc-tt .close{ position: absolute; width:25px; height: 25px; right:25px; top:7px;}

.tc-submit .submit-info .codeDiv{
    text-align: left;
    width: 90%;
    margin: 5% auto;
}
.tc-submit .submit-info .codeDiv input{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}
.tc-submit .submit-info .codeDiv a{
    display: inline-block;
    font-size: .7rem;
    color: #fff;
    background: #ff4f75;
    border-radius: 5px;
    padding: 3% 0;
    width: 37.2%;
    text-align: center;
}

.submit .submit-info .submit-info-scroll .codeDiv{
    text-align: left;
    width: 90%;
    margin: 0 auto;
}
.submit .submit-info .submit-info-scroll .codeDiv input{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}
.submit .submit-info .submit-info-scroll .codeDiv a{
    display: inline-block;
    font-size: .7rem;
    color: #fff;
    background: #ff4f75;
    border-radius: 5px;
    padding: 2.5% 0;
    width: 37.2%;
    text-align: center;
    vertical-align: top;
}

.selSix{
    width: 90%;
    margin: auto;
    padding: 0 0.8rem;
    margin-bottom: 5%;
    font-size: .2rem;
    border: 1px solid #999;
    border-radius: 5px;
    height: 1.6rem;
}
.selSix label{
    display: inline-block;
    margin-right: .6rem;
    line-height: 1.6rem;
}
.selSix input{
    display: inline-block !important;
    width: initial !important;
    height: initial !important;
    margin-bottom: 0 !important;
    vertical-align: text-bottom;
}