@media (min-width: 320px) { html { font-size: 312.5%; } }
@media (min-width: 321px) { html { font-size: 313.4765625%; } }
@media (min-width: 322px) { html { font-size: 314.453125%; } }
@media (min-width: 323px) { html { font-size: 315.4296875%; } }
@media (min-width: 324px) { html { font-size: 316.40625%; } }
@media (min-width: 325px) { html { font-size: 317.3828125%; } }
@media (min-width: 326px) { html { font-size: 318.359375%; } }
@media (min-width: 327px) { html { font-size: 319.3359375%; } }
@media (min-width: 328px) { html { font-size: 320.3125%; } }
@media (min-width: 329px) { html { font-size: 321.2890625%; } }
@media (min-width: 330px) { html { font-size: 322.265625%; } }
@media (min-width: 331px) { html { font-size: 323.2421875%; } }
@media (min-width: 332px) { html { font-size: 324.21875%; } }
@media (min-width: 333px) { html { font-size: 325.1953125%; } }
@media (min-width: 334px) { html { font-size: 326.171875%; } }
@media (min-width: 335px) { html { font-size: 327.1484375%; } }
@media (min-width: 336px) { html { font-size: 328.125%; } }
@media (min-width: 337px) { html { font-size: 329.1015625%; } }
@media (min-width: 338px) { html { font-size: 330.078125%; } }
@media (min-width: 339px) { html { font-size: 331.0546875%; } }
@media (min-width: 340px) { html { font-size: 332.03125%; } }
@media (min-width: 341px) { html { font-size: 333.0078125%; } }
@media (min-width: 342px) { html { font-size: 333.984375%; } }
@media (min-width: 343px) { html { font-size: 334.9609375%; } }
@media (min-width: 344px) { html { font-size: 335.9375%; } }
@media (min-width: 345px) { html { font-size: 336.9140625%; } }
@media (min-width: 346px) { html { font-size: 337.890625%; } }
@media (min-width: 347px) { html { font-size: 338.8671875%; } }
@media (min-width: 348px) { html { font-size: 339.84375%; } }
@media (min-width: 349px) { html { font-size: 340.8203125%; } }
@media (min-width: 350px) { html { font-size: 341.796875%; } }
@media (min-width: 351px) { html { font-size: 342.7734375%; } }
@media (min-width: 352px) { html { font-size: 343.75%; } }
@media (min-width: 353px) { html { font-size: 344.7265625%; } }
@media (min-width: 354px) { html { font-size: 345.703125%; } }
@media (min-width: 355px) { html { font-size: 346.6796875%; } }
@media (min-width: 356px) { html { font-size: 347.65625%; } }
@media (min-width: 357px) { html { font-size: 348.6328125%; } }
@media (min-width: 358px) { html { font-size: 349.609375%; } }
@media (min-width: 359px) { html { font-size: 350.5859375%; } }
@media (min-width: 360px) { html { font-size: 351.5625%; } }
@media (min-width: 361px) { html { font-size: 352.5390625%; } }
@media (min-width: 362px) { html { font-size: 353.515625%; } }
@media (min-width: 363px) { html { font-size: 354.4921875%; } }
@media (min-width: 364px) { html { font-size: 355.46875%; } }
@media (min-width: 365px) { html { font-size: 356.4453125%; } }
@media (min-width: 366px) { html { font-size: 357.421875%; } }
@media (min-width: 367px) { html { font-size: 358.3984375%; } }
@media (min-width: 368px) { html { font-size: 359.375%; } }
@media (min-width: 369px) { html { font-size: 360.3515625%; } }
@media (min-width: 370px) { html { font-size: 361.328125%; } }
@media (min-width: 371px) { html { font-size: 362.3046875%; } }
@media (min-width: 372px) { html { font-size: 363.28125%; } }
@media (min-width: 373px) { html { font-size: 364.2578125%; } }
@media (min-width: 374px) { html { font-size: 365.234375%; } }
@media (min-width: 375px) { html { font-size: 366.2109375%; } }
@media (min-width: 376px) { html { font-size: 367.1875%; } }
@media (min-width: 377px) { html { font-size: 368.1640625%; } }
@media (min-width: 378px) { html { font-size: 369.140625%; } }
@media (min-width: 379px) { html { font-size: 370.1171875%; } }
@media (min-width: 380px) { html { font-size: 371.09375%; } }
@media (min-width: 381px) { html { font-size: 372.0703125%; } }
@media (min-width: 382px) { html { font-size: 373.046875%; } }
@media (min-width: 383px) { html { font-size: 374.0234375%; } }
@media (min-width: 384px) { html { font-size: 375%; } }
@media (min-width: 385px) { html { font-size: 375.9765625%; } }
@media (min-width: 386px) { html { font-size: 376.953125%; } }
@media (min-width: 387px) { html { font-size: 377.9296875%; } }
@media (min-width: 388px) { html { font-size: 378.90625%; } }
@media (min-width: 389px) { html { font-size: 379.8828125%; } }
@media (min-width: 390px) { html { font-size: 380.859375%; } }
@media (min-width: 391px) { html { font-size: 381.8359375%; } }
@media (min-width: 392px) { html { font-size: 382.8125%; } }
@media (min-width: 393px) { html { font-size: 383.7890625%; } }
@media (min-width: 394px) { html { font-size: 384.765625%; } }
@media (min-width: 395px) { html { font-size: 385.7421875%; } }
@media (min-width: 396px) { html { font-size: 386.71875%; } }
@media (min-width: 397px) { html { font-size: 387.6953125%; } }
@media (min-width: 398px) { html { font-size: 388.671875%; } }
@media (min-width: 399px) { html { font-size: 389.6484375%; } }
@media (min-width: 400px) { html { font-size: 390.625%; } }
@media (min-width: 401px) { html { font-size: 391.6015625%; } }
@media (min-width: 402px) { html { font-size: 392.578125%; } }
@media (min-width: 403px) { html { font-size: 393.5546875%; } }
@media (min-width: 404px) { html { font-size: 394.53125%; } }
@media (min-width: 405px) { html { font-size: 395.5078125%; } }
@media (min-width: 406px) { html { font-size: 396.484375%; } }
@media (min-width: 407px) { html { font-size: 397.4609375%; } }
@media (min-width: 408px) { html { font-size: 398.4375%; } }
@media (min-width: 409px) { html { font-size: 399.4140625%; } }
@media (min-width: 410px) { html { font-size: 400.390625%; } }
@media (min-width: 411px) { html { font-size: 401.3671875%; } }
@media (min-width: 412px) { html { font-size: 402.34375%; } }
@media (min-width: 413px) { html { font-size: 403.3203125%; } }
@media (min-width: 414px) { html { font-size: 404.296875%; } }
@media (min-width: 415px) { html { font-size: 405.2734375%; } }
@media (min-width: 416px) { html { font-size: 406.25%; } }
@media (min-width: 417px) { html { font-size: 407.2265625%; } }
@media (min-width: 418px) { html { font-size: 408.203125%; } }
@media (min-width: 419px) { html { font-size: 409.1796875%; } }
@media (min-width: 420px) { html { font-size: 410.15625%; } }
@media (min-width: 421px) { html { font-size: 411.1328125%; } }
@media (min-width: 422px) { html { font-size: 412.109375%; } }
@media (min-width: 423px) { html { font-size: 413.0859375%; } }
@media (min-width: 424px) { html { font-size: 414.0625%; } }
@media (min-width: 425px) { html { font-size: 415.0390625%; } }
@media (min-width: 426px) { html { font-size: 416.015625%; } }
@media (min-width: 427px) { html { font-size: 416.9921875%; } }
@media (min-width: 428px) { html { font-size: 417.96875%; } }
@media (min-width: 429px) { html { font-size: 418.9453125%; } }
@media (min-width: 430px) { html { font-size: 419.921875%; } }
@media (min-width: 431px) { html { font-size: 420.8984375%; } }
@media (min-width: 432px) { html { font-size: 421.875%; } }
@media (min-width: 433px) { html { font-size: 422.8515625%; } }
@media (min-width: 434px) { html { font-size: 423.828125%; } }
@media (min-width: 435px) { html { font-size: 424.8046875%; } }
@media (min-width: 436px) { html { font-size: 425.78125%; } }
@media (min-width: 437px) { html { font-size: 426.7578125%; } }
@media (min-width: 438px) { html { font-size: 427.734375%; } }
@media (min-width: 439px) { html { font-size: 428.7109375%; } }
@media (min-width: 440px) { html { font-size: 429.6875%; } }
@media (min-width: 441px) { html { font-size: 430.6640625%; } }
@media (min-width: 442px) { html { font-size: 431.640625%; } }
@media (min-width: 443px) { html { font-size: 432.6171875%; } }
@media (min-width: 444px) { html { font-size: 433.59375%; } }
@media (min-width: 445px) { html { font-size: 434.5703125%; } }
@media (min-width: 446px) { html { font-size: 435.546875%; } }
@media (min-width: 447px) { html { font-size: 436.5234375%; } }
@media (min-width: 448px) { html { font-size: 437.5%; } }
@media (min-width: 449px) { html { font-size: 438.4765625%; } }
@media (min-width: 450px) { html { font-size: 439.453125%; } }
@media (min-width: 451px) { html { font-size: 440.4296875%; } }
@media (min-width: 452px) { html { font-size: 441.40625%; } }
@media (min-width: 453px) { html { font-size: 442.3828125%; } }
@media (min-width: 454px) { html { font-size: 443.359375%; } }
@media (min-width: 455px) { html { font-size: 444.3359375%; } }
@media (min-width: 456px) { html { font-size: 445.3125%; } }
@media (min-width: 457px) { html { font-size: 446.2890625%; } }
@media (min-width: 458px) { html { font-size: 447.265625%; } }
@media (min-width: 459px) { html { font-size: 448.2421875%; } }
@media (min-width: 460px) { html { font-size: 449.21875%; } }
@media (min-width: 461px) { html { font-size: 450.1953125%; } }
@media (min-width: 462px) { html { font-size: 451.171875%; } }
@media (min-width: 463px) { html { font-size: 452.1484375%; } }
@media (min-width: 464px) { html { font-size: 453.125%; } }
@media (min-width: 465px) { html { font-size: 454.1015625%; } }
@media (min-width: 466px) { html { font-size: 455.078125%; } }
@media (min-width: 467px) { html { font-size: 456.0546875%; } }
@media (min-width: 468px) { html { font-size: 457.03125%; } }
@media (min-width: 469px) { html { font-size: 458.0078125%; } }
@media (min-width: 470px) { html { font-size: 458.984375%; } }
@media (min-width: 471px) { html { font-size: 459.9609375%; } }
@media (min-width: 472px) { html { font-size: 460.9375%; } }
@media (min-width: 473px) { html { font-size: 461.9140625%; } }
@media (min-width: 474px) { html { font-size: 462.890625%; } }
@media (min-width: 475px) { html { font-size: 463.8671875%; } }
@media (min-width: 476px) { html { font-size: 464.84375%; } }
@media (min-width: 477px) { html { font-size: 465.8203125%; } }
@media (min-width: 478px) { html { font-size: 466.796875%; } }
@media (min-width: 479px) { html { font-size: 467.7734375%; } }
@media (min-width: 480px) { html { font-size: 468.75%; } }
@media (min-width: 481px) { html { font-size: 469.7265625%; } }
@media (min-width: 482px) { html { font-size: 470.703125%; } }
@media (min-width: 483px) { html { font-size: 471.6796875%; } }
@media (min-width: 484px) { html { font-size: 472.65625%; } }
@media (min-width: 485px) { html { font-size: 473.6328125%; } }
@media (min-width: 486px) { html { font-size: 474.609375%; } }
@media (min-width: 487px) { html { font-size: 475.5859375%; } }
@media (min-width: 488px) { html { font-size: 476.5625%; } }
@media (min-width: 489px) { html { font-size: 477.5390625%; } }
@media (min-width: 490px) { html { font-size: 478.515625%; } }
@media (min-width: 491px) { html { font-size: 479.4921875%; } }
@media (min-width: 492px) { html { font-size: 480.46875%; } }
@media (min-width: 493px) { html { font-size: 481.4453125%; } }
@media (min-width: 494px) { html { font-size: 482.421875%; } }
@media (min-width: 495px) { html { font-size: 483.3984375%; } }
@media (min-width: 496px) { html { font-size: 484.375%; } }
@media (min-width: 497px) { html { font-size: 485.3515625%; } }
@media (min-width: 498px) { html { font-size: 486.328125%; } }
@media (min-width: 499px) { html { font-size: 487.3046875%; } }
@media (min-width: 500px) { html { font-size: 488.28125%; } }
@media (min-width: 501px) { html { font-size: 489.2578125%; } }
@media (min-width: 502px) { html { font-size: 490.234375%; } }
@media (min-width: 503px) { html { font-size: 491.2109375%; } }
@media (min-width: 504px) { html { font-size: 492.1875%; } }
@media (min-width: 505px) { html { font-size: 493.1640625%; } }
@media (min-width: 506px) { html { font-size: 494.140625%; } }
@media (min-width: 507px) { html { font-size: 495.1171875%; } }
@media (min-width: 508px) { html { font-size: 496.09375%; } }
@media (min-width: 509px) { html { font-size: 497.0703125%; } }
@media (min-width: 510px) { html { font-size: 498.046875%; } }
@media (min-width: 511px) { html { font-size: 499.0234375%; } }
@media (min-width: 512px) { html { font-size: 500%; } }
@media (min-width: 513px) { html { font-size: 500.9765625%; } }
@media (min-width: 514px) { html { font-size: 501.953125%; } }
@media (min-width: 515px) { html { font-size: 502.9296875%; } }
@media (min-width: 516px) { html { font-size: 503.90625%; } }
@media (min-width: 517px) { html { font-size: 504.8828125%; } }
@media (min-width: 518px) { html { font-size: 505.859375%; } }
@media (min-width: 519px) { html { font-size: 506.8359375%; } }
@media (min-width: 520px) { html { font-size: 507.8125%; } }
@media (min-width: 521px) { html { font-size: 508.7890625%; } }
@media (min-width: 522px) { html { font-size: 509.765625%; } }
@media (min-width: 523px) { html { font-size: 510.7421875%; } }
@media (min-width: 524px) { html { font-size: 511.71875%; } }
@media (min-width: 525px) { html { font-size: 512.6953125%; } }
@media (min-width: 526px) { html { font-size: 513.671875%; } }
@media (min-width: 527px) { html { font-size: 514.6484375%; } }
@media (min-width: 528px) { html { font-size: 515.625%; } }
@media (min-width: 529px) { html { font-size: 516.6015625%; } }
@media (min-width: 530px) { html { font-size: 517.578125%; } }
@media (min-width: 531px) { html { font-size: 518.5546875%; } }
@media (min-width: 532px) { html { font-size: 519.53125%; } }
@media (min-width: 533px) { html { font-size: 520.5078125%; } }
@media (min-width: 534px) { html { font-size: 521.484375%; } }
@media (min-width: 535px) { html { font-size: 522.4609375%; } }
@media (min-width: 536px) { html { font-size: 523.4375%; } }
@media (min-width: 537px) { html { font-size: 524.4140625%; } }
@media (min-width: 538px) { html { font-size: 525.390625%; } }
@media (min-width: 539px) { html { font-size: 526.3671875%; } }
@media (min-width: 540px) { html { font-size: 527.34375%; } }
@media (min-width: 541px) { html { font-size: 528.3203125%; } }
@media (min-width: 542px) { html { font-size: 529.296875%; } }
@media (min-width: 543px) { html { font-size: 530.2734375%; } }
@media (min-width: 544px) { html { font-size: 531.25%; } }
@media (min-width: 545px) { html { font-size: 532.2265625%; } }
@media (min-width: 546px) { html { font-size: 533.203125%; } }
@media (min-width: 547px) { html { font-size: 534.1796875%; } }
@media (min-width: 548px) { html { font-size: 535.15625%; } }
@media (min-width: 549px) { html { font-size: 536.1328125%; } }
@media (min-width: 550px) { html { font-size: 537.109375%; } }
@media (min-width: 551px) { html { font-size: 538.0859375%; } }
@media (min-width: 552px) { html { font-size: 539.0625%; } }
@media (min-width: 553px) { html { font-size: 540.0390625%; } }
@media (min-width: 554px) { html { font-size: 541.015625%; } }
@media (min-width: 555px) { html { font-size: 541.9921875%; } }
@media (min-width: 556px) { html { font-size: 542.96875%; } }
@media (min-width: 557px) { html { font-size: 543.9453125%; } }
@media (min-width: 558px) { html { font-size: 544.921875%; } }
@media (min-width: 559px) { html { font-size: 545.8984375%; } }
@media (min-width: 560px) { html { font-size: 546.875%; } }
@media (min-width: 561px) { html { font-size: 547.8515625%; } }
@media (min-width: 562px) { html { font-size: 548.828125%; } }
@media (min-width: 563px) { html { font-size: 549.8046875%; } }
@media (min-width: 564px) { html { font-size: 550.78125%; } }
@media (min-width: 565px) { html { font-size: 551.7578125%; } }
@media (min-width: 566px) { html { font-size: 552.734375%; } }
@media (min-width: 567px) { html { font-size: 553.7109375%; } }
@media (min-width: 568px) { html { font-size: 554.6875%; } }
@media (min-width: 569px) { html { font-size: 555.6640625%; } }
@media (min-width: 570px) { html { font-size: 556.640625%; } }
@media (min-width: 571px) { html { font-size: 557.6171875%; } }
@media (min-width: 572px) { html { font-size: 558.59375%; } }
@media (min-width: 573px) { html { font-size: 559.5703125%; } }
@media (min-width: 574px) { html { font-size: 560.546875%; } }
@media (min-width: 575px) { html { font-size: 561.5234375%; } }
@media (min-width: 576px) { html { font-size: 562.5%; } }
@media (min-width: 577px) { html { font-size: 563.4765625%; } }
@media (min-width: 578px) { html { font-size: 564.453125%; } }
@media (min-width: 579px) { html { font-size: 565.4296875%; } }
@media (min-width: 580px) { html { font-size: 566.40625%; } }
@media (min-width: 581px) { html { font-size: 567.3828125%; } }
@media (min-width: 582px) { html { font-size: 568.359375%; } }
@media (min-width: 583px) { html { font-size: 569.3359375%; } }
@media (min-width: 584px) { html { font-size: 570.3125%; } }
@media (min-width: 585px) { html { font-size: 571.2890625%; } }
@media (min-width: 586px) { html { font-size: 572.265625%; } }
@media (min-width: 587px) { html { font-size: 573.2421875%; } }
@media (min-width: 588px) { html { font-size: 574.21875%; } }
@media (min-width: 589px) { html { font-size: 575.1953125%; } }
@media (min-width: 590px) { html { font-size: 576.171875%; } }
@media (min-width: 591px) { html { font-size: 577.1484375%; } }
@media (min-width: 592px) { html { font-size: 578.125%; } }
@media (min-width: 593px) { html { font-size: 579.1015625%; } }
@media (min-width: 594px) { html { font-size: 580.078125%; } }
@media (min-width: 595px) { html { font-size: 581.0546875%; } }
@media (min-width: 596px) { html { font-size: 582.03125%; } }
@media (min-width: 597px) { html { font-size: 583.0078125%; } }
@media (min-width: 598px) { html { font-size: 583.984375%; } }
@media (min-width: 599px) { html { font-size: 584.9609375%; } }
@media (min-width: 600px) { html { font-size: 585.9375%; } }
@media (min-width: 601px) { html { font-size: 586.9140625%; } }
@media (min-width: 602px) { html { font-size: 587.890625%; } }
@media (min-width: 603px) { html { font-size: 588.8671875%; } }
@media (min-width: 604px) { html { font-size: 589.84375%; } }
@media (min-width: 605px) { html { font-size: 590.8203125%; } }
@media (min-width: 606px) { html { font-size: 591.796875%; } }
@media (min-width: 607px) { html { font-size: 592.7734375%; } }
@media (min-width: 608px) { html { font-size: 593.75%; } }
@media (min-width: 609px) { html { font-size: 594.7265625%; } }
@media (min-width: 610px) { html { font-size: 595.703125%; } }
@media (min-width: 611px) { html { font-size: 596.6796875%; } }
@media (min-width: 612px) { html { font-size: 597.65625%; } }
@media (min-width: 613px) { html { font-size: 598.6328125%; } }
@media (min-width: 614px) { html { font-size: 599.609375%; } }
@media (min-width: 615px) { html { font-size: 600.5859375%; } }
@media (min-width: 616px) { html { font-size: 601.5625%; } }
@media (min-width: 617px) { html { font-size: 602.5390625%; } }
@media (min-width: 618px) { html { font-size: 603.515625%; } }
@media (min-width: 619px) { html { font-size: 604.4921875%; } }
@media (min-width: 620px) { html { font-size: 605.46875%; } }
@media (min-width: 621px) { html { font-size: 606.4453125%; } }
@media (min-width: 622px) { html { font-size: 607.421875%; } }
@media (min-width: 623px) { html { font-size: 608.3984375%; } }
@media (min-width: 624px) { html { font-size: 609.375%; } }
@media (min-width: 625px) { html { font-size: 610.3515625%; } }
@media (min-width: 626px) { html { font-size: 611.328125%; } }
@media (min-width: 627px) { html { font-size: 612.3046875%; } }
@media (min-width: 628px) { html { font-size: 613.28125%; } }
@media (min-width: 629px) { html { font-size: 614.2578125%; } }
@media (min-width: 630px) { html { font-size: 615.234375%; } }
@media (min-width: 631px) { html { font-size: 616.2109375%; } }
@media (min-width: 632px) { html { font-size: 617.1875%; } }
@media (min-width: 633px) { html { font-size: 618.1640625%; } }
@media (min-width: 634px) { html { font-size: 619.140625%; } }
@media (min-width: 635px) { html { font-size: 620.1171875%; } }
@media (min-width: 636px) { html { font-size: 621.09375%; } }
@media (min-width: 637px) { html { font-size: 622.0703125%; } }
@media (min-width: 638px) { html { font-size: 623.046875%; } }
@media (min-width: 639px) { html { font-size: 624.0234375%; } }
@media (min-width: 640px) { html { font-size: 625%; } }