body{
    margin: 0;
    font-family: 'Microsoft yahei'
}
.wrapper{
    width:85%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4rem;
}
.images{
    border-radius: 3px;
    width: 100%;
}
.banner1 .swiper-wrapper .swiper-slide{
    margin-bottom: 2rem;
    box-shadow: 0px 5px 20px 0px rgba(226, 32, 32, 0.08);
    border-radius: 10px;
    border: 1px solid #ebebeb;
}
.swiper-slide p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:6;
    overflow: hidden;
    padding: 0 1rem;
}
.swiper-slide div{
    background-color: #efefef;
}
.swiper-slide div img{
    vertical-align: middle;
}
.weixin-tc{
    width:100%; 
    height: 100%; 
    background: rgba(0,0,0,0.6); 
    position: fixed; 
    left:0; 
    top:0; 
    z-index: 999;  
    display: none;
}
.weixin-tc img{ 
    width:100%; 
    display: block; 
}
.weixin-tc .tc-in{ 
    width:70%; 
    margin:0 auto; 
    position: relative;
}
.weixin-tc .tc-in .bg{ 
    width:100%;
    height: 300px; 
    display: block; 
    margin-top: 25%;
}
.weixin-tc .tc-in .close{ 
    width:15%; 
    margin:0 auto; 
}
.weixin-tc .tc-in .num{ 
    width:100%; 
    position: absolute; 
    left:0;top:0; 
}
.weixin-tc .tc-in .num span{ 
    background: #fff; 
    color:#666666; 
    width:85%;
    padding: 2% 0; 
    margin:0 auto; 
    border-radius: 30px; 
    border:1px solid #ff79c5; 
    display: block; 
    text-align: center; 
    margin-top: 9%;
}
.weixin-tc .tc-in .num p{ 
    font-size: 16px; 
    text-align: center; 
    color:#fff; 
    margin:3% 0;
}
.weixin-tc .tc-in .num a{ 
    display: block;
    width:65%; 
    margin:0 auto; 
    margin-top: 5%;
}
.weixin-tc .tc-in .num a img{ 
    width:100%; 
    display: block; 
}
@media only screen and (min-width: 100px) and (max-width: 750px) {
    .weixin-tc .tc-in .num span{
        margin-top: 29%;
    }
}
.bottomfix{
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 2;
    width: 100%;
    text-align: center;
}
.bottomfix>div{
    padding: 1rem 0;
}
.bottomfix>div:first-child{
    width: 75%;
    background-color: #ffdfdf;
}
.bottomfix>div:nth-child(2){
    width: 25%;
    background-color: #e5286d;
}